<html>
  <head>
  </head>
  <body>
    <form>
        <input type="text" name="shift" value="Input shift"/>
      </br>
        <input type='text' name = 'string'/ value="Inputs sentence">
        <input type='submit' value="Encode" />
      </form>
      <p><%= coded %></p>
  </body>
</html>
